.footer {
    min-height: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    background: var(--ink);
    color: var(--paper);
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    text-align: center;
}